body {
    color: #877;
    background-color: #333;
}

a {
    color: #c57;
}

a:visited {
    color: #fb1;
}

/* 
Spacemacs dark colors:
#333 - background
#877 - text
#c57 - red text
#658 - purple bar
#376 - green text
#48b - blue text
#fb1 - gold
*/